<h1>Edit garage || que des champions ici !!</h1>

<div class="container py-5">
  <div class="row">
    <div class="col 12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Ajouter votre garage :</h3>
          <%= simple_form_for @garage do |f| %>
          <%= f.input :titre, placeholder: 'place de parking' %>
          <%= f.input :address, placeholder: 'Lille, France' %>
          <%= f.input :price, placeholder: '150€' %>
          <%= f.submit class: 'btn-kaki' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
