<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <h1><strong>Garage</strong>Band</h1>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">

        <%# if user_signed_in? %>

          <li class="nav-item active">
            <%= link_to "Accueil", "#", class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <%= link_to "Mon Profil", "#", class: "nav-link", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Menu", "#", class: "dropdown-item" %>
              <%= link_to "Ajouter un garage", "#", class: "dropdown-item" %>
              <%= link_to "Mes bookings", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>

        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laborum consectetur, provident non debitis suscipit iusto fugiat consequuntur! Nemo illum qui aliquid voluptatem necessitatibus animi sed nostrum dicta neque doloremque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam facere architecto accusantium esse iste ipsam veritatis hic earum aperiam. Autem ipsum velit maxime eligendi fugit quis? Aliquid, ipsam. Optio, modi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio in dicta cupiditate consequuntur veniam, nam amet repudiandae ducimus, beatae iure numquam culpa officia. Vitae, mollitia rem. Iste accusantium iusto est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur corrupti sed beatae dignissimos consectetur, nulla molestiae, libero vero ad officia ratione, commodi harum at dolor est excepturi numquam a vitae.</p>
