<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <h1 class="titre-logo"><strong>Garage</strong>Band</h1>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="ajouter d-flex justify-content-center">
            <li class="nav-item active">
              <%= link_to new_garage_path, class: "nav-link" do %>
              <i class="fa-solid fa-plus"></i>
              <% end %>
            </li>
          </div>

            <li class="nav-item dropdown">
              <%= link_to "Mon Profil", "#", class: "nav-link", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Accueil", root_path, class: "dropdown-item" %>
                  <%= link_to "Tableau de bord", dashboard_path, class: "dropdown-item" %>
                  <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
             </li>
        <% else %>
          <div class="ajout">
            <li class="nav-item">
              <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
            </li>
          </div>

            <li class="nav-item">
              <%= link_to "Se connecter", user_session_path, class: "nav-link" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
