<!-- <h1><%= @garages %></h1> -->
<!-- <h1><%= @bookings %></h1> -->
<!-- <h1>les demandes</h1> -->
<!-- for each -->
<div class="dash-container">
  <div class="dash-king-div">

    <div class="dash-title">
      <h1>Tableau de bord</h1>
    </div>

    <div class="dash-big-div">

      <div class="dash-links">
        <!-- <h1>Mes Links</h1> -->
        <div class="dash-links-logo">
          <%= image_tag("garage.jpg") %>
        </div>
        <div class="dash-links-content">



          <div class="dash-rectangle-content">

            <div class="dash-rectangle">
              <p>test</p>
            </div>

            <div class="dash-rectangle">
              <p>test1</p>
            </div>

            <div class="dash-rectangle">
              <p>test2</p>
            </div>

          </div>
        </div>

        <div class="dash-links-button">
          <a href="#">Acceuil</a>
        </div>
      </div>

      <div class="dash-orizon-div">

        <div class="dash-garages">

          <div class="dash-info">
          <h1>Mes Garages</h1>
            <div class="dash-info-content">

              <% @garages.each do |garage| %>
                <div>
                  <div class="image-container">
                    <%= image_tag("garage.jpg") %>
                  </div>
                  <p><%= garage.titre %></p>
                </div>
              <% end %>
          </div>
        </div>

        <div class="dash-favories">
          <h1>Mes Demandes de Réservations (mes garages)</h1>
          <div class="dash-info-content">

              <% @bookings_as_owner .each do |booking| %>
                <div>
                  <div class="image-container">
                    <%= image_tag("garage.jpg") %>
                  </div>
                  <p><%= booking.garage.titre %></p>
                  <p>De : <%= booking.user.email %></p>
                  <p>Du : <%= booking.start_date %></p>
                  <p>Au : <%= booking.end_date %></p>
                  <p><%= booking.status %></p>
                  <p>
                    <% if booking.status == "pending"%>
                    <!-- --><%= link_to "accepted", booking_accepted_path(booking), data: {turbo_method: :patch, turbo_confirm: "Are you sure to accept?"} %> ||
                    <%= link_to "accepted", booking_accepted_path(booking), { class: "accepted-link", data: {turbo_method: :patch, turbo_confirm: "Are you sure to accept?"} } %> ||
                    <%= link_to "refused", booking_refused_path(booking), data: {turbo_method: :patch, turbo_confirm: "Are you sure to decline?"} %> ||
                    <%= link_to "refused", booking_accepted_path(booking), { class: "refused-link", data: {turbo_method: :patch, turbo_confirm: "Are you sure to decline?"} } %> ||

                  <% end %>
                  </p>
                </div>


              <% end %>

            </div>
        </div>

        <div class="dash-locations">
          <h1>Mes Locations</h1>
          <div class="dash-info-content">

            <% @bookings.each do |booking| %>
                <div>
                  <div class="image-container">
                    <%= image_tag("garage.jpg") %>
                  </div>
                  <p><%= booking.garage.titre %></p>
                </div>
              <% end %>


          </div>
        </div>


      </div>

    </div>
  </div>
</div>
