<!-- <h1><%= @garages %></h1> -->
<!-- <h1><%= @bookings %></h1> -->
<!-- <h1>les demandes</h1> -->
<!-- for each -->
<div class="dash-container">
  <div class="dash-king-div">

    <div class="dash-title">
      <h1>Tableau de bord</h1>
    </div>

    <div class="dash-big-div">

      <div class="dash-links">
        <!-- <h1>Mes Links</h1> -->
        <div class="dash-links-logo">
          <p>test</p>
        </div>
        <div class="dash-links-content">



          <div class="dash-rectangle-content">

            <div class="dash-rectangle">
              <p>test</p>
            </div>

            <div class="dash-rectangle">
              <p>test1</p>
            </div>

            <div class="dash-rectangle">
              <p>test2</p>
            </div>

          </div>
        </div>

        <div class="dash-links-button">
          <a href="#">Acceuil</a>
        </div>
      </div>

      <div class="dash-orizon-div">

        <div class="dash-garages">
          <h1>Mes Garages</h1>
          <div class="dash-info">
            <div class="dash-info-content">

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

            </div>
          </div>
        </div>

        <div class="dash-favories">
          <h1>Mes Favories</h1>
          <div class="dash-info">
            <div class="dash-info-content">

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

            </div>
          </div>
        </div>

        <div class="dash-locations">
          <h1>Mes Locations</h1>
          <div class="dash-info">
            <div class="dash-info-content">


              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

              <div>
                <%= image_tag("garage.jpg") %>
                <p>blabla mes blabla</p>
              </div>

            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
